In [2]:
import sys
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

url = 'https://www.the-numbers.com/market/genres'
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')

data = soup.find_all('table')[0].get_text()
newdata = data.split('\n')

for count in range(newdata.count('')):
    newdata.remove('')
    
newdata = newdata[1:]

genres=[]
for index in range(len(newdata)):
    if (index % 6)==1:
        item = newdata[index]
        genres.append(item)
        
newgenre=genres[:8]
for i in range(len(newgenre)):
    if newgenre[i] == 'Thriller/Suspense': 
        newgenre[i]= 'Thriller-or-Suspense'
    
    if newgenre[i] == 'Romantic Comedy':
        newgenre[i] = 'Romantic-Comedy'
    
    if newgenre[i] == 'Black Comedy':
        newgenre[i] = 'Black-Comedy'
        


#number of movies produced
dlnummade=[]
for genre in newgenre:
    url='https://www.the-numbers.com/market/genre/'+genre
    html = requests.get(url).content
    soup = BeautifulSoup(html,'lxml')
    p2text = soup.find_all('table')[1].get_text()
    makesomepoints= p2text.split('\n')

    for x in range(makesomepoints.count('')):
        makesomepoints.remove('')

    tabledata = makesomepoints[1:]
    pointsingenre=[]

    for s in range(len(tabledata)):
        if s%8==1:
            pointsingenre.append(tabledata[s])
    dlnummade.append(pointsingenre)

    

    
    
    
newdata=pd.DataFrame()
#append market share
index = 0
for thegenre in newgenre:
    if len(dl[index])!=26:
        dl[index].insert(0,0)
    if len(dlnummade[index])!=26:
        dlnummade[index].insert(0,0)
    newdata[thegenre + ' Movies Made'] = dlnummade[index]
    index += 1

final_data = newdata.rename(index = lambda s: s + 1995)
final_data

,Adventure Movies Made,Action Movies Made,Drama Movies Made,Comedy Movies Made,Thriller-or-Suspense Movies Made,Horror Movies Made,Romantic-Comedy Movies Made,Musical Movies Made
1995,28,29,131,61,20,15,16,0
1996,33,36,121,70,23,9,19,2
1997,24,36,120,73,23,11,22,5
1998,29,30,130,74,22,16,14,8
1999,27,34,158,79,17,16,28,11
2000,30,31,170,80,27,14,23,10
2001,32,33,154,90,26,16,24,7
2002,46,32,179,87,33,12,24,10
2003,47,38,182,81,21,17,26,6
2004,48,28,231,121,29,22,33,5
2005,41,44,264,131,26,29,15,7
2006,44,33,252,125,36,31,20,7
2007,37,41,251,135,56,32,35,11
2008,56,36,257,124,50,26,25,11
2009,48,32,201,90,55,26,26,10
2010,44,33,212,82,52,26,30,11
2011,49,48,245,96,60,28,33,4
2012,45,47,230,95,65,34,30,6
2013,39,45,231,99,69,31,25,6
2014,46,50,254,103,61,30,30,7
2015,48,57,288,120,71,24,23,8
2016,51,59,280,99,64,29,30,8
2017,44,67,251,73,63,34,15,9
2018,40,60,265,73,56,34,15,8
2019,46,54,226,58,56,35,15,6
2020,16,12,77,18,23,15,6,2

In [4]:
final_data.to_csv('data2.csv')